{{!--main menu navigation--}}
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
 <div class="container-fluid">
  <a class="navbar-brand" href="#">Tech Blog</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
   aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav me-auto">
    <li class="nav-item">
     <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="/api/dashboard">Dashboard</a>
    </li>
    {{#if logged_in}}
    <li class="nav-item">
     <button type="button" class="btn btn-danger btn-sm ms-2" id="logout">Logout</button>
    </li>
    {{else}}
    <li class="nav-item">
     <a class="nav-link" href="/login">Login</a>
    </li>
    {{/if}}
   </ul>
   {{#if logged_in}}
   <div class="d-flex align-items-center text-light ms-3">
    <span>User: {{username}}</span>
   </div>
   {{/if}}
  </div>
 </div>
</nav>