{{!-- This is the sign-in field for existing users --}}
<div class="row justify-content-center">
 <div class="col-md-3">
  <div class="card my-3">
   <div class="card-body">
    <h3 class="card-title">Registered User Sign-in</h3>
    <form class="sign-in-form">
     <div class="mb-3">
      <label for="email-signin">Email:</label>
      <input class="form-control" type="email" id="email-signin" />
     </div>
     <div class="mb-3">
      <label for="password-signin">Password:</label>
      <input class="form-control" type="password" id="password-signin" />
     </div>
     <div class="mb-3">
      <button class="btn btn-primary" type="submit">Sign-in</button>
      <a class="btn btn-primary" href="/signup" role="button">Not Registered? Click to Sign up</a>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>

<script src="/js/login.js"></script>